*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    background: url(../assets/Layer_34.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.principal h2{
    font-size: 60px;
    margin-top: 6%;
    margin-bottom: 20px;
}

.principal p{
    font-size: 25px;
}

.p{
    margin-bottom: 3%;
}

.principal button{
    background-color: #E84546;
    border: none;
    color: white;
    padding: 15px 40px;
    margin-bottom: 10%;
    cursor: pointer;
}
.Linea{
    display: flex;
    background-color: rgba(50, 52, 85, 0.95);
    justify-content: space-between;
    padding: 2% 18%;
}

header a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.main-section{
    background-color: rgba(50, 52, 85, 0.95);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feautre{
    text-align: center;
}

.feautre h3{
    font-size: 18px;
    margin: 15px 0;
}

.feautre p{
    margin-bottom: 30px;
}

body{
    
}

.second-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: auto;
    grid-template-areas: "lapiz pantalla bombillo"
                         "clean maletin dowloand";
    padding: 5% 12%;
    gap: 4%;
}

.lapiz{
    grid-area: lapiz; 
}

.pantalla{
    grid-area: pantalla;
}

.bombillo{
    grid-area: bombillo;
}

.clean{
    grid-area: clean;
}

.maletin{
    grid-area: maletin;
}

.dowloand{
    grid-area: dowloand;
}

.section-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "uno dos tres cuatro"
                        "sinco seis siete ocho";
    gap: 2px;
    position: relative;
}

.section-img > div{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    opacity: 1;
}

.texto-encima{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.809);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    cursor: pointer;
}

.uno{
    grid-area: uno;
    background: url(../assets/imagen1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.section-img > div:hover .texto-encima{
    opacity: 1;
}

.dos{
    grid-area: dos;
    background: url(../assets/imagen2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.tres{
    grid-area: tres;
    background: url(../assets/imagen3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.cuatro{
    grid-area: cuatro;
    background: url(../assets/imagen4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.sinco{
    grid-area: sinco;
    background: url(../assets/imagen5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.seis{
    grid-area: seis;
    background: url(../assets/imagen6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.siete{
    grid-area: siete;
    background: url(../assets/imagen7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.ocho{
    grid-area: ocho;
    background: url(../assets/imagen8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

/* section-team */

.section-team{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5% 7%;
    gap: 20px;
}

.section-team p{
    margin-right: 15px;
    margin-bottom: 15px;
}

.section-team h4{
    font-size: 25px;
    margin: 20px 0 10px 0;
}

.section-team h5{
    color: red;
    margin-bottom: 15px;
}

.logos{
    border: 1px solid rgb(207, 207, 207);
    padding: 10px 20px;
    padding: 10px 10px;
    height: 40px;
}

/* section-bloques */

.section-bloques{
    display: flex;
    justify-content: flex-start;
}

.inter{
    background-color: #523549;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    padding-left: 5%;
}

.p2{
    font-size: 45px;
    margin-bottom: 35px;
}

.divs{
    display: flex;
    gap: 5px;
    margin-left: 30%;
}

.inter p{
    margin-bottom: 50px;
}

.fot{
    width: 12px;
    height: 12px;
    border:0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: bounce 1.5s infinite ease-in-out;
}

.uno1{
    background-color: rgba(255, 255, 255, 0.3);
}

.tres3{
    background-color: rgba(255, 255, 255, 0.3);
}

.cuatro4{
    background-color: rgba(255, 255, 255, 0.3);
}

.cinco5{
    background-color: rgba(255, 255, 255, 0.3);
}

.section-are{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}

.section-are h6{
    font-size: 28px;
    margin-bottom: 15px;
}

.section-are button{
    background-color: #E84546;
    border: 0;
    color: white;
    padding: 15px 60px;
    margin-top: 25px;
}

.section-location{
    background-color:#3A3E63;
    color: white;
}

.img img{
    width: 50vw;
    height: 100%;
}

/* section-location */

.section-location{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5% 20%;
}

.cajas{
    text-align: center;
}

.cajas h3{
    font-size: 13px;
}

.cajas p{
    font-size: 14px;
    margin-top: 10px;
    color: rgb(122, 126, 155);
}

.cajas img{
    margin-top: 10px;
    border: 2px solid white;
    padding: 10px;
    height: 6vh;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 2% 0;
    background-color: rgb(49, 52, 85);
}

footer span{
    color: white;
}

footer p{
    color: rgb(122, 126, 155);
    font-size: 12px;
}

.p3{
    font-size: 14px;
}

/* responsive */
@media (max-width:1279px){

    .Linea img{
        height: 100%;
        width: 20%;
    }

    .Linea{
        padding: 2% 10%;
    }

    header a{
        margin-left: 15px;
        font-size: 11px;
    }

    .principal h2 {
        font-size: 40px;
        margin-top: 4%;
        margin-bottom: 15px;
    }

    .principal p {
        font-size: 17px;
    }

    .principal button{
        padding: 10px 30px;
        margin-bottom: 8%;
    }

    .second-section{
        padding: 5% 10%;
        gap: 3%;
    }

    .second-section p{
        font-size: 12px;
    }

    .feautre h3 {
        font-size: 16px;
        margin: 10px 0;
    }

    .feautre p {
        margin-bottom: 20px;
    }

    .imagenes{
        width: 100%;
    }

    .section-team p {
        margin-right: auto;
        margin-bottom: 15px;
        font-size: 13px;
    }

    .logos{
        height: 33px;
    }

    .p2{
        font-size: 22px;
    }

    .inter p {
        margin-bottom: 26px;
    }

    .section-are h6 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .section-are p{
        font-size: 12px;
    }

    .section-are button{
        padding: 10px 40px;
        margin-top: 18px;
    }

    .section-location{
        padding: 5% 10%;
    }

    .cajas h3 {
        font-size: 10px;
    }   

    .cajas p{
        font-size: 11px;
        margin-top: 5px;
    }

    .p3 {
        font-size: 12px;
    }

    footer p{
        font-size: 10px;
    }
}

@media (max-width:920px){

    .feautre h3{
        font-size: 13px;
        margin: 8px 0;
    }

    .principal button{
        font-size: 10px;
    }

    .second-section p {
        font-size: 10px;
    }

    .section-team h4 {
        font-size: 20px;
        margin: 15px 0 5px 0;
    }

    .section-team h5{
        font-size: 11px;
    }

    .section-team p{
        font-size: 12px;
    }

    .logos {
        height: 30px;
    }

    .p2{
        font-size: 20px;
    }

    .p4{
        font-size: 12px;
    }

    .section-are h6 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .section-are button {
        padding: 10px 30px;
        margin-top: 15px;
        font-size: 10px;
    }

    .cajas p {
        font-size: 10px;
        margin-top: 2px;
    }

    .cajas p {
        font-size: 10px;
        margin-top: 2px;
    }

    .cajas img{
        margin-top: 8px;
    }

    .p3 {
        font-size: 11px;
    }

    footer p {
        font-size: 9px;
    }
}

@media (max-width:768px){

    header a {
        margin-left: 4px;
        font-size: 8px;
    }

    .principal h2 {
        font-size: 21px;
        margin-top: 4%;
        margin-bottom: 13px;
    }

    .principal p {
        font-size: 9px;
    }

    .principal button {
        font-size: 7px;
    }

    .principal button {
        padding: 10px 30px;
        margin-bottom: 8%;
    }

    .second-section {
        display: flex;
        flex-direction: column;
    }

    .feautre h3{
        font-size: 11px;
    }

    .second-section p {
        font-size: 9px;
    }

    .second-section img{
        width: 15%;
    }

    .section-img{
        display: flex;
        flex-direction: column;
        padding: 2% 10%;
    }

    .section-team{
        grid-template-columns: 1fr;
        padding: 2% 10%;
    }

    .section-team h4 {
        font-size: 22px;
        margin: 5px 0 5px 0;
    }

    .section-team p{
        margin-bottom: 10px;
    }

    .logos {
        height: 36px;
        margin-bottom: 15px;
    }

    .section-bloques{
        flex-direction: column;
    }

    .img img{
        width: 100%;
    }

    .inter{
        padding: 30px;
    }

    .section-are h6 {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .section-are p {
        font-size: 8px;
    }

    .section-are button {
        padding: 8px 20px;
        margin-top: 12px;
        font-size: 7px;
    }

    .cajas h3 {
        font-size: 8px;
    }

    .cajas h3 {
        font-size: 8px;
    }

    .section-location {
        padding: 5% 3%;
    }

    .p3{
        font-size: 10px;
    }

    footer p {
        font-size: 8px;
    }
}

@media (max-width:480px){
    header a {
        margin-left: 4px;
        font-size: 6px;
    }

    .principal h2 {
        font-size: 18px;
        margin-top: 3%;
        margin-bottom: 10px;
    }

    .principal p {
        font-size: 7px;
    }

    .principal button {
        padding: 5px 15px;
        margin-bottom: 6%;
    }

    .second-section img {
        width: 10%;
    }

    .feautre h3 {
        font-size: 9px;
    }

    .second-section p {
        font-size: 8px;
    }

    .section-are button {
        padding: 5px 15px;
        margin-top: 10px;
        font-size: 6px;
    }

    .section-are h6 {
        font-size: 10px;
        margin-bottom: 6px;
    }

    .fot{
        width: 8px;
        height: 8px;
    }

    .cajas h3 {
        font-size: 7px;
    }

    .cajas p {
        font-size: 7px;
        margin-top: 3px;
    }

    .cajas img {
        margin-top: 6px;
        height: 5vh;
    }

    .p3 {
        font-size: 8px;
    }

    footer p {
        font-size: 6px;
    }
}